<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<!--    <link th:rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css}"/>-->
<!--    <link rel="stylesheet" th:href="@{/css/style.css}">-->
    <th:block th:replace="~{fragments/navbar :: style}"></th:block>
    <title>Pizze per tutti</title>
</head>
<body>
<nav th:replace="~{fragments/navbar :: navbar('pizzas', ${keyword}, true)}"></nav>
<div class="container">
    <a th:href="@{pizzas/create}" class="btn btn-success mt-3">Aggiungi  <i class="fa-solid fa-pizza-slice fa-spin fa-spin-reverse"></i></a>
    <table th:if="${pizzas.size() > 0}" class="table table-dark table-striped mt-3">
        <thead>
        <tr>
            <th scope="col">Pizza</th>
            <th scope="col">Price</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        <tr th:each="pizza : ${pizzas}">
            <td class="align-middle">
                <span th:if="${pizza.hasDeal()}"><i class="fa-solid fa-dollar-sign"></i></span>
                [[${pizza.name}]]
            </td>
            <td th:text="|${pizza.price}$|" class="align-middle"></td>
            <td th:text="${pizza.description}" class="align-middle"></td>
            <!-- actions -->
            <td>
                <a th:href="@{|pizzas/${pizza.pizzaId}|}" class="btn btn-success align-middle"><i class="fa-solid fa-pizza-slice"></i></a>
                <a  th:href="@{|pizzas/edit/${pizza.pizzaId}|}" class="btn btn-secondary align-middle"><i class="fa-solid fa-pen"></i></a>
<!--                <a sec:authorize="hasAuthority('Admin')"  th:href="@{|pizzas/edit/${pizza.pizzaId}|}" class="btn btn-secondary align-middle"><i class="fa-solid fa-pen"></i></a>-->
                <!-- add delete button-->
                <form id="delete-pizza" th:method="delete" th:action="@{/pizzas/delete/{id}(id=${pizza.pizzaId})}" class="d-inline">
                    <button type="submit" th:value="${pizza.pizzaId}" class="btn btn-danger align-middle"><i class="fa-solid fa-trash"></i></button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <p th:if="${pizzas.size() == 0}">Niente pizze disponibili mi dispiace</p>
</div>

<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
</body>
</html>