<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <th:block th:replace="~{fragments/navbar :: style}"></th:block>
    <title>Pizza per tutti</title>
</head>
<body>
<nav th:replace="~{fragments/navbar :: navbar('pizzas', '', false)}"></nav>
<div class="container">
    <!--<th:block th:unless="${#strings.isEmpty(pizza.name)}">-->
    <h2 th:text="|Ecco una bella ${pizza.name}|" class="text-center"></h2>
    <!--</th:block>-->
    <div class="">
        <img th:src="@{${pizza.image}}" class="rounded mx-auto d-block" >
    </div>

    <p>Questa pizza in media viene [[${pizza.price}]]$</p>
    <p>[[${pizza.description}]]</p>
    <!--   ingredients   -->
    <h3>Ingredienti</h3>
    <ul th:unless="${pizza.ingredientSet.size() == 0}">
        <li th:each="ingredient : ${pizza.ingredientSet}" th:text="${ingredient.name}"></li>
    </ul>
    <p th:if="${pizza.ingredientSet.size() == 0}">Non sono stati inseriti ingredienti</p>

    <!--   premium deals   -->
    <h3>Offerte speciali</h3>
    <a th:href="@{/premium/create(pizzaId=${pizza.pizzaId})}" class="btn btn-secondary"> Aggiungi offerta</a>
    <div th:if="${pizza.premiumDeals}">
        <th:block th:each="deal : ${pizza.premiumDeals}">
            <span  th:text="${deal.title}" class="me-3"></span>
            <a th:href="@{|/premium/edit/${deal.id}|}" class="btn btn-primary"><i class="fa-solid fa-pen"></i></a>
            <form id="delete-premium-deal" th:method="delete" th:action="@{/premium/delete/{id}(id=${deal.id})}" class="d-inline">
                <button type="submit" th:value="${deal.id}" class="btn btn-danger align-middle"><i class="fa-solid fa-trash"></i></button>
            </form>
        </th:block>
    </div>
    <div th:if="${pizza.premiumDeals.isEmpty()}"><p>Niente offerte speciali per il momento</p></div>
    <a class="btn btn-secondary mt-3" th:href="@{/pizzas}">Indietro</a>
</div>

</body>
</html>